networks:
  my-network:
    external: true

services:
  postgres-db:
    image: postgres:15-alpine
    env_file:
      - .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - my-network
    deploy:
      placement:
        constraints: [node.role == manager]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  crud-app:
    image: ddosl/crud-app:latest
    environment:
      SPRING_PROFILES_ACTIVE: docker
    env_file:
      - .env
    networks:
      - my-network
    depends_on:
      - postgres-db
    deploy:
      replicas: 3
      restart_policy:
        condition: on-failure
      update_config:
        parallelism: 1
        delay: 10s
      placement:
        constraints: [node.role == manager]

  nginx:
    image: nginx:latest
    ports:
      - "8080:80"
    networks:
      - my-network
    depends_on:
      - crud-app
    deploy:
      placement:
        constraints: [node.role == manager]
    configs:
      - source: nginx-conf
        target: /etc/nginx/conf.d/default.conf

volumes:
  pg_data:
configs:
  nginx-conf:
    external: true
